/* Wall component css */

.wall {
  margin: 50px 5%;
  line-height: 1.2;
  display: block;
  text-shadow: 0px 1px 1px #111;
  color: #002c74d1;
  position: relative;
}

/* .wall::before,
.wall::after {
  content: '"';
  display: block;
  font: italic 100px cursive;
  line-height: 50px;
  text-indent: -40px;
  width: 30px;
  height: 30px;
  position: relative;
  color: #002c74d1;
} */

.wall::after {
  transform: scaleX(-1) scaleY(-1);
}

.sp {
  display: inline-block;
  position: relative;
  transition: color 1s ease, transform 0.6s ease;
}

.sp.active {
  color: darken(#002c74d1, 10%);
  transform: scale(1.9);
}

.sp.active~.sp {
  color: lighten(#002c74d1, 30%);
  transform: scale(1.2);
  filter: blur(4px);
  transition: color 4s ease, transform 0.4s ease-in-out;
}

em {
  width: 13px;
}